*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
}

h1{
    font-family: "Exo Black";
    text-transform: uppercase;
    letter-spacing: 5px;
}

main{
    position: relative;
    height: 100%;
    margin-bottom: 20px;
    background: url("../../psdFile/material/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main svg{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10px;
}
main .row img{
    width: 60%;
    height: auto;
    margin-top: 100px;
}

main .row .col-md-6:last-child{
    color: white;
    margin-top: 150px;

}
main hr{
    width: 20%;
    height: 2px;
    background-color: #f9dc56;
}
main p{
    font-family: "Expressway";
    letter-spacing: 10px;
    font-size: 12px;
}

/* ========================================== */
/* Foto Produk Section */

.fotoProduk img{
    width: 70%;
}
.fotoProduk p{
    text-align: justify;
    width: 90%;
}
.fotoProduk button{
    border-radius: 5px;
    padding: 10px;
    font-family: "Exo Black";
    width: 30%;
}
.fotoProduk .row .col-md-6:last-child{
    margin-top: 60px;
}

/* End of foto produk section */
/* ========================================= */
/* Jasa Desain Section */

.jasaDesain{
    margin-top: 200px;
}
.jasaDesain .row .col-md-6{
    padding: 10px;
}
.box{
    background-color: #f9f9f9;
    padding: 40px 50px 20px 50px;
    -webkit-box-shadow: 11px 13px 15px -2px rgba(128,128,128,0.39);
    -moz-box-shadow: 11px 13px 15px -2px rgba(128,128,128,0.39);
    box-shadow: 11px 13px 15px -2px rgba(128,128,128,0.39);
}
.jasaDesain p{
    margin: 0 auto;
    text-align: justify;
    justify-content: center;
    clear: both;
}
.jasaDesain .row{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.jasaDesain img{
    float: left;
    width: 8%;
    height: auto;
    margin-right: 15px;
}

.jasaDesain h5{
    font-family: "Exo Medium";
}
.jasaDesain button{
    color: white;
    font-family: "Exo Black";
    float: right;
}

/* End of Jasa Desain Section */
/* ===================================== */
/* Carousel Section */

.carousel .carousel-item{
    height: 400px;
}
.carousel-item img {
    min-height: 400px;
}

@media (max-width: 575.98px) {
    main{
        text-align: center;
        height: 80%;
    }
    main .row .col-md-6:last-child{
        margin-top: 0px;
    }
    
    h1{
        letter-spacing: 2px;
        font-size: 25px;
        text-align: center;
    }
    main hr{
        margin: 20px auto;
        width: 40%;

    }
    main p{
        margin-top: 10px;
        letter-spacing: 5px;
        font-size: 10px;
    }
    main .row img{
        width: 50%;
        height: auto;
        margin-top: 30px;
    }
    /* ========================================== */
    /* Foto Produk Section */
    .fotoProduk{
        text-align: center;
    }
    .fotoProduk p{
        margin: 20px auto;
        text-align: justify;
        width: 80%;
    }
    .fotoProduk button{
        font-size: 10px;
        margin: 20px 10px;
        border-radius: 5px;
        padding: 10px;
        width: 35%;
    }
    
    /* End of foto produk section */
    /* ========================================= */
    /* Jasa Desain Section */

    
    .jasaDesain{
        margin-top: 100px;
    }
    .jasaDesain .row .col-md-6{
        padding: 10px 0px;
    }
    .jasaDesain p{
        font-size: 13px;
    }
    .jasaDesain .row{
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    }

    .jasaDesain h5{
        font-size: 15px;
    }

    /* End of Jasa Desain Section */
    /* ===================================== */
    
    .carousel .carousel-item{
        height: 200px;
    }
    .carousel-item img {
        min-height: 200px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    main{
        text-align: center;
    }
    main .row .col-md-6:last-child{
        margin-top: 0px;
    }
    
    h1{
        letter-spacing: 2px;
        font-size: 25px;
        text-align: center;
    }
    main hr{
        margin: 10px auto;
        width: 40%;

    }
    main p{
        margin-top: 10px;
        letter-spacing: 5px;
        font-size: 10px;
    }
    main .row img{
        width: 40%;
        height: auto;
        margin-top: 30px;
    }
    /* ========================================== */
    /* Foto Produk Section */
    .fotoProduk{
        text-align: center;
    }
    .fotoProduk p{
        margin: 20px auto;
        text-align: justify;
        width: 80%;
    }
    .fotoProduk button{
        font-size: 10px;
        margin: 20px 10px;
        border-radius: 5px;
        padding: 10px;
        width: 35%;
    }
    
    /* End of foto produk section */
    /* ========================================= */
    /* Jasa Desain Section */

    
    .jasaDesain{
        margin-top: 100px;
    }
    .jasaDesain .row .col-md-6{
        padding: 10px 0px;
    }
    .jasaDesain p{
        font-size: 13px;
    }
    .jasaDesain .row{
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    }

    .jasaDesain h5{
        font-size: 15px;
    }

    /* End of Jasa Desain Section */
    /* ===================================== */
    
    .carousel .carousel-item{
        height: 200px;
    }
    .carousel-item img {
        min-height: 200px;
    }


}