*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;

}
table {
    border-collapse: separate;
    border-spacing: 0;
  }
  th,
  td {
    padding: 10px 15px;
  }
  th {
    background: #ed1e26;
    background: linear-gradient(#e14455, #ed1e26);
    color: #fff;
  }
  tbody tr:nth-child(even) {
    background: #f0f0f2;
  }
  td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
  }
  td:first-child {
    border-left: 1px solid #cecfd5;
  }
  