

    .logo{
        color: #ffffff;
        position:absolute;
        left: 75px;
        top: 25px;

    }
    #menu-area{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex
        display: flex;
        justify-content: space-betweenp: 0 60px;
        position: fixed;
        width: 100%;
        top: 0;
        transition: background 0.5s;
    }
    #menu-area ul{
        width: 500px;
        justify-content: space-around;
        list-style: none;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }
    #menu-area ul li a{
        text-decoration: none;
        color: #262626;
    }
    .jasaproduk{
        position: absolute;
        left: 680px;
        top: 25px;
    }
    .jasaiklan{
        position: absolute;
        left: 540px;
        top: 25px;
    }
    .aboutus{
        position: absolute;
        left: 900px;
        top: 25px;
    }
    .jasadesign{
        position: absolute;
        left: 380px;
        top: 25px;
    }
    .portofolio{
        position: absolute;
        left: 250px;
        top: 25px;
    }
    .kontenportofolio{
        position: absolute;
        top: 400px;
        left: 50px;
    }
    .kontenaboutus{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 1070px;
        left: 50px;
    }
    .quotes{
        position: absolute;
    }
    .banner-area{
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
    .banner-text{
        position: absolute;
        top: 35%;
        left: 25%;
        transform: translate(-50%, -50%);

    }
    .banner-text h2{
        font-family: big john;
        font-size: 60px;
    }
    .banner-text a{
        text-decoration: none;
        color: #ffffff;
    }
    .gambariklan{
        background-color: black;
        color: #ffffff;
        padding: 80px 95px;
        display: inline-block;
        margin-top: 20px;
        border-radius: 50px;
        position: absolute;
        right: 10%;
        top: 20%;
    }
    .wrapping{
        padding: 70px;
    }
    #menu-area.cus-nav{
        background:#262626;
        height: 70px;
        z-index: 999;
    }
    #menu-area.cus-nav a{
        color: #fff;
    }
    #menu-area.cus-nav .logo{
        height: 65px;
    }
    .portofolio3{
        position: absolute;
        top: 320px;
        left: 600px;
    }
    .portofolio2{
        position: absolute;
        top: 45px;
        left: 600px;
    }
    .moreporto{
        color: #000;
        position: absolute;
        top: 600px;
        left: 1110px;
    }
    .Cart{
        color: #ffffff;
        position:absolute;
        right: 280px;
        top: 25px;
    }

    .kontenlain{
        position: absolute;
        top: 1800px;
        left: 100px;
    }
    .login{
        color:#ffffff;
        position:absolute;
        right: 180px;
        font-size: 20px;
        top: 25px;
    }
    .register{
        color: #ffffff;
        position:absolute;
        right: 50px;
        font-size: 20px;
        top: 25px;
    }
    #iklan{
        background-image: url('bgiklan2.jpg');
        height: 250px;
        width: 1366px;
        padding: 16px;
        font-size: 25px;
        position: absolute;
        top: 200px;
    }


    .container{
        position: absolute;
        top: 350px;
    }
    
    #menu-area {
        transition: margin-left .5s;
        padding: 16px;
        font-size: 25px;

    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 300px) {
        #main{
            width: 100%;
        }
        #iklan{
            width: 100%;
        }

    }