@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    text-align: center;
}
#menu-area .banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(img/Tampilan\ 1.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#menu-area .banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
#menu-area .banner .content{
    position: absolute;
    left: 7%;
    max-width: 500px;
    text-align: left;
}
#menu-area .banner .content h2{
    color: #000;
    font-size: 60px;

}
#menu-area .banner .content p{
    color: #000;
    font-size: 18px;
    
}


.button {
    position: absolute;
    border-radius: 40px;
    padding: 7px 16px;
    top: 98%;
    border: 2px solid #E14455;
    background-color: #E14455;
    color: #fff;
}
.button3{
    left: 0%;
    width: 160px;
    height: 45px;
}
.button4{
    left: 40%;
    width: 130px;
    height: 45px;
}

  
.more{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    top: 
}
.about{
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx{
    background: #172232;
    padding: 100px;
    width: 100%;
}
.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.services
{
    background: #E14455;
    background-position: center;
    padding: 100px;
    text-align: center;
}
.services .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBx
{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .container .serviceBx img{
    max-width: 100px;

}
.services .container a
{
    color: #fff;
    position: absolute;
    right: 145px;
    top: 2168px;
}

.jasaproduk{
    background-image: url(img/Tampilan\ 2.png);
    text-align: center;
    padding: 180px;
    height: 768px;

}
.jasaproduk .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.jasaproduk .produk h2{
    color: #000;
    font-size: 24px;
    position: absolute;
    top: 900px;
    left: 350px;
    

}
.jasaproduk .produk .container .jasaPusat{
    position: absolute;
    left: 50px;
    top: 1010px;
    background: #E14455;
    width: 560px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview1{
    position: absolute;
    right: 38%;
    top: 1010px;
    background: #E14455;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview1 p{
    position: absolute;
    top: 175px;
    left: 23%;
    color: #000;
    font-size: 20px;
}

.jasaproduk .produk .container .jasaview2{
    position: absolute;
    right: 22%;
    top: 1010px;
    background: #E14455;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview2 p{
    position: absolute;
    top: 175px;
    left: 23%;
    color: #000;
    font-size: 20px;
}
.jasaproduk .produk .container .jasaview3{
    position: absolute;
    right: 6%;
    top: 1010px;    
    background: #E14455;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview3 p{
    position: absolute;
    top: 175px;
    left: 23%;
    color: #000;
    font-size: 20px;
}
.jasaproduk .produk .container .jasaview4{
    position: absolute;
    right: 38%;
    top: 1238px;      
    background: #E14455;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview4 p{
    position: absolute;
    top: 175px;
    left: 23%;
    color: #000;
    font-size: 20px;
}
.jasaproduk .produk .container .jasaview5{
    position: absolute;
    right: 22%;
    top: 1238px;      
    background: #E14455;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview5 p{
    position: absolute;
    top: 175px;
    left: 23%;
    color: #000;
    font-size: 20px;
}
.jasaproduk .produk .container .jasaview6{
    position: absolute;
    right: 6%;
    top: 1238px;      
    background: #E14455;
    width: 200px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jasaproduk .produk .container .jasaview6 p{
    position: absolute;
    top: 175px;
    left: 23%;
    color: #000;
    font-size: 20px;
}
.jasaproduk .produk .container img{
    max-width: 50px;
}

.jasadesign{
    background-color: #C92C3D;
    padding: 50px;
    text-align: center;
}
.jasadesign .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.jasadesign .design .container .jasaview{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jasadesign .design .container img{
    max-width: 100px;
}

.jasadesign .design .container .more{
    position: absolute;
    top: 2815px;
    right: 10%;
}

.jasalengkap{
    background-color: #E14455;
    padding: 50px;
    text-align: center;
}
.jasalengkap .lengkap .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.jasalengkap .lengkap .container .jasaview{
    position: relative;
    background: #fff;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jasalengkap .lengkap .container img{
    max-width: 100px;
}

.jasalengkap .lengkap .container .Other{  
    color: #fff;
    position: absolute;
    top: 3407px;
    right: 11%;
}

@media screen and (max-width: 576px)
{
    #menu-area{
        width: 100%;
    }
    #menu-area .banner{
        background-position-x: right;
        background-size: 1200px;
    }
    #menu-area .banner img{
        width: 100%;
    }
    #menu-area .banner .content h2{
        font-size: 18px;
    }
    #menu-area .banner .content p{
        font-size: 14px;
    }
    #menu-area .banner .content .button3{
        position: absolute;
        width: 120px;
        height: 45px;
        left: 0px;
    }
    #menu-area .banner .content .button4{
        position: absolute;
        width: 120px;
        height: 45px;
        right: 1px;
    }
    .about{
        flex-direction: column;
    }
    .about .imgBx{
        width: 100%;
        padding: 50px;
        text-align: center;
    }
    .services{
        padding: 50px;
    }
    .services .container{
        justify-content: center;
        margin-top: 10px;
    }
    .services .container .serviceBx{
        margin: 10px;
    }
    .services .container a{
        position: absolute;
        top: 2895px;
        right: 78px;
        font-size: 11px;
    }
    
    .jasaproduk{
        padding: 50px;
        height: 800px;
        background-position-x: -150px;
    }
    .jasaproduk .produk .container{
        justify-content: center;
        margin-top: 10px;
    }
    .jasaproduk .produk h2{
        font-size: 14px;
        position: absolute;
        top: 870px;
        left: 130px;
        text-align: initial;
    }
    .jasaproduk .produk .container .jasaPusat{
        position: absolute;
        top: 970px;
        left: 30px;
        margin: 10px;
        width: 280px;
        height: 220px;
    }
    .jasaproduk .produk .container .jasaview1{
        position: absolute;
        top: 1210px;
        left: 23px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview1 p{
        font-size: 12px;
        position: absolute;
        top: 130px;
        left: 16px;
    }
    .jasaproduk .produk .container .jasaview2{
        position: absolute;
        top: 1210px;
        right: 130px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview2 p{
        font-size: 12px;
        position: absolute;
        top: 130px;
        left: 16px;
    }
    .jasaproduk .produk .container .jasaview3{
        position: absolute;
        top: 1210px;
        right: 24px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview3 p{
        font-size: 12px;
        position: absolute;
        top: 130px;
        left: 16px;
    }
    .jasaproduk .produk .container .jasaview4{
        position: absolute;
        top: 1365px;
        left: 23px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview4 p{
        font-size: 12px;
        position: absolute;
        top: 130px;
        left: 16px;
    }
    .jasaproduk .produk .container .jasaview5{
        position: absolute;
        top: 1365px;
        right: 130px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview5 p{
        font-size: 12px;
        position: absolute;
        top: 130px;
        left: 16px;
    }
    .jasaproduk .produk .container .jasaview6{
        position: absolute;
        top: 1365px;
        right: 24px;
        width: 100px;
        height: 130px;
    }
    .jasaproduk .produk .container .jasaview6 p{
        font-size: 12px;
        position: absolute;
        top: 130px;
        left: 16px;
    }
    .jasaproduk .produk .container .more{
        position: absolute;
        top: 1460px;
        font-size: 10px;
    }
    .jasaproduk .produk .container img{
        max-width: 50px;
    }
    .jasaproduk .produk .container .heading{
        font-size: 18px;
        position: absolute;
        top: 50px;
        right: 20px;
    }
    .jasadesign{
        padding: 50px;
    }
    .jasadesign .design .container{
        justify-content: center;
        margin-top: 10px;
    }
    .jasadesign .design .container .more{
        position: absolute;
        top: 4305px;
        right: 80px;
        font-size: 10px;
    }
    .jasadesign .design .container .jasaview{
        margin: 10px;
    }

    .jasalengkap{
        padding: 50px;
    }
    .jasalengkap .lengkap .container{
        justify-content: center;
        margin-top: 10px;
    }
    .jasalengkap .lengkap .container .jasaview{
        margin: 10px;
    }
    .jasalengkap .lengkap .container .Other{
        position: absolute;
        top: 5745px;
        right: 80px;
        font-size: 10px;
    }

}

