*{
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
}

.containers{  
    height: 50%;
    background-image: radial-gradient( circle 972.6px at 10% 20%,  rgb(216, 34, 52) 0%, rgb(225, 68, 85) 90% );
    background-repeat: no-repeat;
    z-index: 0;
}

h2{
    padding-top: 50%;
    text-align: center;
    color: white;
    font-family: 'Exo', sans-serif;
}
.wrapper{
    z-index: 1;
    margin-top: -20%;
    padding: 30px;
}
main{
    padding: 20px;
    background-color: white;
    box-shadow: 1.5px 1.5px #e0e0e0;
}
main img{
    width: 50%;
    height: auto;
}
main p{
    font-size: 40%;
}

section{
   padding: 30px;
}

section .gMapSection{
    height: 30vh;

}

section .gMapSection{
    height: 40vh;
}
section .row .col-md-6:last-child{
    padding: 50px;
}
section h4{
    text-transform: uppercase;
}

.contactUs{
    margin: 0 auto  ;
    width: 100%;
    -webkit-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
    -moz-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
    box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
}
#map {
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
    margin-bottom: 100px;
}
footer p{
    margin: auto;
    width: 70%;
    font-size: 80%;
}
footer img{
    width: 10%;
    height: auto;
}
footer h3{
    font-size: 250%;
    letter-spacing: 7px;
    font-family: 'Exo', sans-serif;
    color: #234e79;
}
footer h4{
    font-family: 'Exo', sans-serif;
}

/* Small Tablet */
@media (min-width: 576px){
    h2{
        padding-top: 150px;
        letter-spacing: 10px;
    }
    .wrapper{
        margin: auto;
        margin-top:-100px;
        width: 500px;
        height: auto;
    }
    main img{
        width: 40%;
    }
    
    main p{
        font-size: 65%;
    }

    section .gMapSection{
        height: 40vh;
    }
    section .row .col-md-6:last-child{
        padding: 50px;
    }
    section h4{
        text-transform: uppercase;
    }
    .contactUs{
        margin: 0 auto  ;
        width: 100%;
        -webkit-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
        -moz-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
        box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
    }

    footer{
        text-align: left;
        margin-bottom: 100px;
    }
    footer p{
        margin: 0;
        width: auto;
        font-size: 60%;
        text-align: justify;
    }
    footer h4{
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    footer img{
        width:20px;
        height: auto;
    }
    footer h3{
        font-size: 250%;
        letter-spacing: 7px;
        font-family: 'Exo', sans-serif;
        color: #234e79;
    }
}
@media (min-width: 767.98px) {
    section .gMapSection{
        height: 90vh;
        position: absolute;
        top: -9%;
        width: 100%;
        
    }
    section .row .col-md-6:first-child{
        padding: 0px;
    }
    section .row .col-md-6:last-child{
        padding: 50px;
        position: relative;
        left: -2%;
    }
    section h4{
        text-transform: uppercase;
    }
    .contactUs{
        margin: 0 auto  ;
        width: 80%;
        -webkit-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
        -moz-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
        box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
    }
}

/* Large Desktop */
@media (min-width: 992px){
    h2{
        font-size: 50px;
        padding-top: 150px;
        letter-spacing: 10px;
    }
    .wrapper{
        margin: auto;
        margin-top:-100px;
        width: 600px;
        height: auto;
    }
    main img{
        width: 40%;
    }
    
    main p{
        font-size: 12px;
    }
    section{
        padding: 70px;
    }
    section .gMapSection{
        height: 100vh;
        position: absolute;
        top: -9%;
        width: 90%;
        
    }
    section .row .col-md-6:first-child{
        padding: 0px;
    }
    section .row .col-md-6:last-child{
        padding: 80px;
        position: relative;
        left: -7%;
    }
    section h4{
        text-transform: uppercase;
    }
    .contactUs{
        margin: 0 auto  ;
        width: 80%;
        -webkit-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
        -moz-box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
        box-shadow: 11px 10px 17px 0px rgba(219,219,219,1);
    }

    footer{
        text-align: left;
        margin-top: 100px;
    }
    footer p{
        margin: 0;
        width: auto;
        font-size: 80%;
        text-align: justify;
    }
    footer h4{  
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
    }
    footer img{
        width:30px;
        height: auto;
    }
    footer h3{
        font-size: 250%;
        letter-spacing: 7px;
        font-family: 'Exo', sans-serif;
        color: #234e79;
        margin-bottom: 30px;
    }
}