*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
main{
    height: 100%;
}
main > .container-fluid,.row{
    height: 100%;
}

.col-md-3{
    background-color: #fa556d;
    position: relative;
}

.col-md-9{
    background-color: #f1f1f1;
}
.col-md-9 > .content > section > .row > .col-md-4{
    background-color: #fff;
}
.col-md-9 > .content > section > .row > .col-md-8{
    background-color: #e6e6e6;
    padding: 0;
}
.col-md-9 > .content{
    width: calc(100%);
    height: 80%;
    padding: 50px 50px 0px 50px;
}
h4{
    font-family: "Exo Light";
    letter-spacing: 10px;
    color: #000;
}
section{
    padding-top: 30px;
    height: 100%;
    position: relative;
}
.image img{
    clip-path: circle(50px at center);
    margin-top: 30px;
}
h5{
    font-family: "Expressway";
    color: #908d8d;
}
form{
    padding: 0px 20px;
}
.col-md-9 > .content > section > .row > .col-md-8 > form > .nama{
    width: 70%;
}
.col-md-9 > .content > section > .row > .col-md-8 > form > .email{
    width: 70%;
    display: inline-block;
}
.col-md-9 > .content > section > .row > .col-md-8 > form > .pw{
    display: inline-block;
}

/* Bagian Kiri */
.col-md-3 img{
    cursor: pointer;
    width: auto;
    padding: 20px;
    height: 100px;
    background-color: #fff;
    clip-path: circle(50px at center);
}
a{
    display: block;
    color: white;
}
a:hover{
    text-decoration: none;
    color: #ffdbdb;
}
.link{
    position: relative;
    top: 23%;
}
p{
    color: white;
    border-bottom: solid 1px #fff;
    text-transform: uppercase;
}
.col-md-3 > button{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 30%;
    /* right: 0; */
}
i{
    position: absolute;
    right: 0;
}
.content > i {
    display: none;
}
#close{
    display: none;
}
#show{
    display: none;
}
@media (max-width: 767.98px) {
    main{
        /* overflow: hidden; */
    }
    main .row .col-md-3{
        z-index: 1;
        display: block;
        position: absolute;
        height: 100vh;
        width: 50%;
        left: -500px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
    .col-md-4{
        padding-bottom: 20px;
    }
    .content > i {
        display: block;
        color: black;
        position: absolute;
        right: 50px;
    }
    
    .content > i:hover{
        cursor: pointer;
    }
    
    #close{
        display: none;
        transition: 0.2 ease-out;
    }
    #show{
        display: block;
        transition: 0.2 ease-in;
    }
}
@media (max-width: 575.98px) {
    main .row .col-md-3{
        width: 70%;
    }
    
    form{
        padding: 0px 20px;
    }
    .col-md-9 > .content{
        width: calc(100%);
        height: 80%;
        padding: 50px 10px 10px 10px;
    }
    
    .content > i {
        right: 10px;
    }
}